(
  history_length: 128,
  max_notifications: 10,
  poll_interval: 32,
  idle_poll_interval: 1000,
  timeout: 8000,
  zero_timeout_behavior: NeverExpire,
  layout_blocks: [
    (
      name: "root0",
      parent: "",
      hook: Hook(parent_anchor: TR, self_anchor: TR),
      offset: Vec2(x: -16.0, y: 46.0),
      params: NotificationBlock((
        monitor: 0,
        notification_hook: Hook(parent_anchor: BR, self_anchor: TR),
        gap: Vec2(x: 0.0, y: 16.0),
        border_width: 8.0,
        border_rounding: 0.0,
        background_color: Color(hex: "#16161d"),
        border_color_low: Color(hex: "#36383f"),
        border_color: Color(hex: "#ba8d3b"),
        border_color_critical: Color(hex: "#cf554d"),
        border_color_paused: Color(hex: "#ba59b3"),
      )),
    ),
    (
      name: "image0",
      parent: "root0",
      hook: Hook(parent_anchor: TL, self_anchor: TL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: ImageBlock((
        image_type: Hint,
        padding: Padding(left: 24.0, right: -8.0, top: 24.0, bottom: 16.0),
        scale_width: 40,
        scale_height: 40,
        rounding: 0.0,
        filter_mode: Triangle,
      )),
    ),
    (
      name: "head0",
      parent: "image0",
      hook: Hook(parent_anchor: MR, self_anchor: BL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: TextBlock((
        text: "%s",
        dimensions: (width: (min: 32, max: 512), height: (min: 0, max: 0)),
        padding: Padding(left: 24.0, right: 24.0, top: 24.0, bottom: 0.0),
        font: "sans bold 20",
        color: Color(hex: "#d2d6de"),
        ellipsize: End,
      )),
    ),
    (
      name: "body0",
      parent: "head0",
      hook: Hook(parent_anchor: BL, self_anchor: TL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: ScrollingTextBlock((
        text: "%b",
        width: (min: 32, max: 512),
        padding: Padding(left: 24.0, right: 24.0, top: 8.0, bottom: 24.0),
        font: "sans 20",
        color: Color(hex: "#d2d6de"),
        scroll_speed: 0.2,
        lhs_dist: 16.0,
        rhs_dist: 16.0,
        scroll_t: 1.0,
      )),
    ),
    //(
    //  name: "body",
    //  parent: "head",
    //  hook: Hook(parent_anchor: BL, self_anchor: TL),
    //  offset: Vec2(x: 0.0, y: 0.0),
    //  params: TextBlock((
    //    text: "%b",
    //    dimensions: (width: (min: 32, max: 512), height: (min: 0, max: 0)),
    //    dimensions_image_hint: (width: (min: 32, max: 480), height: (min: 0, max: 0)),
    //    padding: Padding(left: 24.0, right: 24.0, top: 8.0, bottom: 24.0),
    //    font: "sans 20",
    //    color: Color(hex: "#d2d6de"),
    //    ellipsize: None,
    //  )),
    //),
    (
      name: "root1",
      parent: "",
      hook: Hook(parent_anchor: TR, self_anchor: TR),
      offset: Vec2(x: -16.0, y: 46.0),
      params: NotificationBlock((
        monitor: 1,
        notification_hook: Hook(parent_anchor: BR, self_anchor: TR),
        gap: Vec2(x: 0.0, y: 16.0),
        border_width: 8.0,
        border_rounding: 0.0,
        background_color: Color(hex: "#16161d"),
        border_color_low: Color(hex: "#36383f"),
        border_color: Color(hex: "#ba8d3b"),
        border_color_critical: Color(hex: "#cf554d"),
        border_color_paused: Color(hex: "#ba59b3"),
      )),
    ),
    (
      name: "image1",
      parent: "root1",
      hook: Hook(parent_anchor: TL, self_anchor: TL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: ImageBlock((
        image_type: Hint,
        padding: Padding(left: 24.0, right: -8.0, top: 24.0, bottom: 16.0),
        scale_width: 40,
        scale_height: 40,
        rounding: 0.0,
        filter_mode: Triangle,
      )),
    ),
    (
      name: "head1",
      parent: "image1",
      hook: Hook(parent_anchor: MR, self_anchor: BL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: TextBlock((
        text: "%s",
        dimensions: (width: (min: 32, max: 512), height: (min: 0, max: 0)),
        padding: Padding(left: 24.0, right: 24.0, top: 24.0, bottom: 0.0),
        font: "sans bold 20",
        color: Color(hex: "#d2d6de"),
        ellipsize: End,
      )),
    ),
    (
      name: "body1",
      parent: "head1",
      hook: Hook(parent_anchor: BL, self_anchor: TL),
      offset: Vec2(x: 0.0, y: 0.0),
      params: ScrollingTextBlock((
        text: "%b",
        width: (min: 32, max: 512),
        padding: Padding(left: 24.0, right: 24.0, top: 8.0, bottom: 24.0),
        font: "sans 20",
        color: Color(hex: "#d2d6de"),
        scroll_speed: 0.15,
        lhs_dist: 16.0,
        rhs_dist: 16.0,
        scroll_t: 1.0,
      )),
    ),
  ],
  shortcuts: ShortcutsConfig(
    notification_interact: 2,
    notification_close: 3,
    notification_pause: 1,
  ),
)
