[Desktop Entry]
Type=Application
Name=logout / quit / exit
Comment=Logout of session
Exec=0s bye logout
Icon=system-log-out
Categories=X;
StartupNotify=false
Terminal=false
