[Desktop Entry]
Type=Application
Name=shutdown / halt / off
Comment=Shutdown computer
Exec=0s bye shutdown
Icon=system-shutdown
Categories=X;
StartupNotify=false
Terminal=false
