[Desktop Entry]
Type=Application
Name=shutdown / halt
Comment=Shutdown computer
Exec=0s bye shutdown
Icon=system-shutdown
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
