[Desktop Entry]
Type=Application
Name=sleep / suspend
Comment=Sleep computer
Exec=0bye sleep
Icon=system-suspend
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
