[Desktop Entry]
Type=Application
Name=Agave tester
Comment=Test Agave font with terminal
Exec=0tcl foot --config='$::env(HOME)/.config/foot/foot_agave.ini'
Icon=Foot
Categories=TerminalEmulator;
StartupNotify=true
Terminal=false
