[Desktop Entry]
Type=Application
Name=Agave tester
Comment=Test Agave font with alacritty
Exec=0tcl exec alacritty --config-file $::env(HOME)/cfg/unstowed/alacritty_agave.yml
Icon=Alacritty
Categories=TerminalEmulator;
Encoding=UTF-8
StartupNotify=true
Terminal=false
