[Desktop Entry]
Type=Application
Name=Agave tester
Comment=Test Agave font with alacritty
Exec=0tcl alacritty --config-file $::env(HOME)/cfg/unstowed/alacritty_agave.yml
Icon=Alacritty
Categories=TerminalEmulator;
StartupNotify=true
Terminal=false
