[Desktop Entry]
Type=Application
Name=Cataclysm
Comment=Dark Days Ahead
TryExec=cataclysm-tiles
Exec=cataclysm-tiles
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
