[Desktop Entry]
Type=Application
Name=Cataclysm
Comment=Dark Days Ahead
Exec=0tcl $::env(HOME)/opt/cdda/cataclysm-launcher
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
