[Desktop Entry]
Type=Application
Name=FontForge
Comment=An outline font editor
Exec=x fontforge %U
Icon=org.fontforge.FontForge
Categories=Graphics;
Encoding=UTF-8
StartupNotify=true
StartupWMClass=fontforge
Terminal=false
