[Desktop Entry]
Type=Application
Name=Skype
Comment=Skype Internet Telephony
TryExec=skypeforlinux
Exec=x /usr/bin/skypeforlinux %U
Icon=skypeforlinux
Categories=Network;Application;
StartupNotify=true
StartupWMClass=Skype
Terminal=false
MimeType=x-scheme-handler/skype;x-scheme-handler/tel;x-scheme-handler/callto;
X-KDE-Protocols=skype,tel,callto
