[Desktop Entry]
Type=Application
Name=WatchCDDA
Comment=watchcdda.net
Exec=0tcl exec alacritty --title watchcdda --config-file $::env(HOME)/cfg/unstowed/alacritty_watchcdda.yml -e ssh cdda
Icon=cataclysm-dda
Categories=Game;
Encoding=UTF-8
StartupNotify=true
Terminal=false
