[Desktop Entry]
Type=Application
Name=Zoom
Name[en_US]=ZoomLauncher
Comment=Video Conference
Exec=0tcl $::env(HOME)/opt/zoom/ZoomLauncher %U
Icon=Zoom
Categories=Network;Application;
StartupNotify=true
StartupWMClass=Zoom
Terminal=false
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom;
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
