[Desktop Entry]
Type=Application
Name=lock
Comment=Lock screen
Exec=0s bye lock
Icon=system-lock-screen
Categories=X;
StartupNotify=false
Terminal=false
