[Desktop Entry]
Type=Application
Name=sleep / suspend
Comment=Sleep computer
Exec=0s bye sleep
Icon=system-suspend
Categories=X;
StartupNotify=false
Terminal=false
