[Desktop Entry]
Name=_agave tester
Exec=0c foot --config='$::env(HOME)/.config/foot/foot_agave.ini'
TryExec=foot
Type=Application
Comment=Test Agave font with terminal
Icon=terminal
Categories=TerminalEmulator;
StartupNotify=true
Terminal=false
