[Desktop Entry]
Type=Application
Name=Dark terminal
Comment=Run terminal with dark colorscheme
Exec=0tcl foot --config='$::env(HOME)/.config/foot/foot_dark.ini'
Icon=Foot
Categories=TerminalEmulator;
StartupNotify=true
Terminal=false
