[Desktop Entry]
Name=_dark terminal
Exec=0c foot --config='$::env(HOME)/.config/foot/foot_dark.ini'
TryExec=foot
Type=Application
Comment=Run terminal with dark colorscheme
Icon=Foot
Categories=TerminalEmulator;
StartupNotify=true
Terminal=false
