[Desktop Entry]
Name=_Discord
Exec=0c '$::env(HOME)/opt/Discord/discord'
Type=Application
Comment=Discord
Icon=discord
Categories=Network;
StartupNotify=true
Terminal=false
