[Desktop Entry]
Type=Application
Name=Linux Mint
Comment=Linux Mint emulation by qemu/kvm
Exec=0v mint
Icon=qemu
Categories=Emulators;Virtualization;KVM;
StartupNotify=true
Terminal=false
