[Desktop Entry]
Name=_Linux Mint
Exec=0v mint
TryExec=0v
Type=Application
Comment=Linux Mint emulation by qemu/kvm
Icon=qemu
Categories=Emulators;Virtualization;KVM;
StartupNotify=true
Terminal=false
