[Desktop Entry]
Name=_WatchCDDA
Exec=0c foot --config='$::env(HOME)/.config/foot/foot_watchcdda.ini ssh cdda'
TryExec=foot
Type=Application
Comment=watchcdda.net
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
