[Desktop Entry]
Type=Application
Name=WatchCDDA
Comment=watchcdda.net
Exec=0tcl foot --config='$::env(HOME)/.config/foot/foot_watchcdda.ini ssh cdda'
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
