[includeIf "gitdir:~/"]
  path = ~/cfg/external/_git/gitconfig_blobject
[includeIf "gitdir:/home/work/"]
  path = ~/cfg/external/_git/gitconfig_work
[include]
  path = ~/cfg/external/_git/gitconfig_common
