[Desktop Entry]
Name=_Cataclysm
Exec=cataclysm-tiles
Type=Application
Comment=Dark Days Ahead
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
