[Desktop Entry]
Name=_Cataclysm
Exec=0c '$::env(HOME)/opt/cdda/cataclysm-launcher'
Type=Application
Comment=Dark Days Ahead
Icon=cataclysm-dda
Categories=Game;
StartupNotify=true
Terminal=false
