[Desktop Entry]
Name=_kakoune
Exec=kak %f
TryExec=kak
Type=Application
Comment=Kakoune code editor
Icon=kakoune
Categories=TerminalEmulator;Texteditor;
StartupNotify=true
Terminal=true
