[Desktop Entry]
Type=Application
Name=logout / quit / exit
Comment=Logout of session
Exec=0bye logout
Icon=system-log-out
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
