[Desktop Entry]
Type=Application
Name=lock
Comment=Lock screen
Exec=0bye lock
Icon=system-lock-screen
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
