[Desktop Entry]
Type=Application
Name=Putty
Comment=Free Telnet/SSH Client
Exec=putty
Icon=putty
Categories=Networking;
Encoding=UTF-8
StartupNotify=true
Terminal=false
