[Desktop Entry]
Type=Application
Name=Zoom
Comment=Video Conference
Exec=zoom %U
Icon=Zoom
Categories=Network;Application;
Encoding=UTF-8
StartupNotify=true
StartupWMClass=Zoom
Terminal=false
MimeType=x-scheme-handler/zoommtg;x-scheme-handler/zoomus;x-scheme-handler/tel;x-scheme-handler/callto;x-scheme-handler/zoomphonecall;application/x-zoom;
X-KDE-Protocols=zoommtg;zoomus;tel;callto;zoomphonecall;
