[Desktop Entry]
Type=Application
Name=Acme
Comment=plan9port acme
Exec=acme %U
Icon=text-editor
Categories=TextEditor;
Encoding=UTF-8
StartupNotify=true
Terminal=false
