[Desktop Entry]
Type=Application
Name=Alacritty Agave
Name[en_US]=Alacritty Agave
Comment=Agave font testing with alacritty
Icon=Alacritty.svg
Exec=0tcl exec alacritty --config-file $::env(HOME)/cfg/unstowed/alacritty_agave.yml
Categories=TerminalEmulator;
Encoding=UTF-8
StartupNotify=true
Terminal=false
