[Desktop Entry]
Type=Application
Name=FontForge
Name[en_US]=Font Editor
Comment=An outline font editor
Exec=x fontforge %U
TryExec=x fontforge
Icon=org.fontforge.FontForge
StartupWMClass=fontforge
Terminal=false
Categories=Graphics;
