[Desktop Entry]
Type=Application
Name=Logout / quit / exit
Comment=Logout of session
Icon=system-log-out
Exec=0bye logout
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
