[Desktop Entry]
Type=Application
Name=Reboot / restart
Comment=Reboot computer
Icon=system-reboot
Exec=0bye reboot
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
