[Desktop Entry]
Type=Application
Name=Sleep
Comment=Sleep computer
Icon=system-suspend
Exec=0bye sleep
Categories=X;
Encoding=UTF-8
StartupNotify=false
Terminal=false
