*multiClickTime: 300
Xcursor.size: 64
Xft.dpi: 200

XTerm.termName: xterm-256color
XTerm.omitTranslation: fullscreen, popup-menu
XTerm*faceName: xft:SF Mono:size=9:weight=bold
XTerm.VT100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> equal: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key> c: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key> v: insert-selection(CLIPBOARD) \n\
  <Btn1Up>: select-end(PRIMARY, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY)
XTerm*bellIsUrgent: true
XTerm*boldColors: false
XTerm*background:  #bbbbc3
XTerm*foreground:  #3a393f
XTerm*cursorColor: #16161d
XTerm*color0: #16161d
XTerm*color1: #a92636
XTerm*color2: #437e00
XTerm*color3: #8b6b02
XTerm*color4: #4051b0
XTerm*color5: #9a1e98
XTerm*color6: #007f68
XTerm*color7: #95959d
XTerm*color8:  #5a595f
XTerm*color9:  #c74032
XTerm*color10: #23920e
XTerm*color11: #947c27
XTerm*color12: #1c75af
XTerm*color13: #8228c0
XTerm*color14: #4a8798
XTerm*color15: #d7d7e0
XTerm*colorBD: #000000
XTerm*colorBDMode: true
XTerm*colorUL: #000000
XTerm*colorULMode: true
XTerm*locale: false
XTerm*loginShell: true
XTerm*metaSendsEscape: true
XTerm*saveLines: 16384
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false
XTerm*utf8: true
